/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #062229;
    font-family: Manrope,sans-serif;
}

.book-button a {
    background: rgb(61,212,128);
    padding: 12px 40px;
    border-radius: 25px;
}

div {
    display: block;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}


/* Header */
header {
    font-size: 18px;
    height: 83px;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.main-header {
    display: inline-block;
    width: 100%;
}

ul {
    list-style-type: none;
    margin-left: 64px;
}

li {
    display: inline-block;
    padding: 29px 20px;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.logo, .logo img {
    display: block;
    width: 127px;
}

.phone-side-bar, .phone-side-bar img {
    background: transparent;
    border: 0;
    display: none;
    width: 52px;
}

.phone-side-bar span {
    background: black;
    opacity: 1;
    width: 32px;
    display: block;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: right;
}

.right-header .book-button {
    margin: 0 0 0 32px;
}

/* Introduction */

#introduction {
    background-color: #062229;
    font-family: monospace;
    padding: 52px 16px 96px;
    display: block;
}

#introduction h1 {
    font-size: 48px;
}

#introduction p {
    color: white;
    font-size: 12px;
    margin-top: 32px;
    font-size: 20px;
}

#introduction .book-button {
    font-size: 16px;
    margin: 32px 0 0;
}