/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*h1, h2, h3, h4, h5, h6 {
    font-family: Manrope,sans-serif;
    color: white;
}*/

body {
    background-color: #062229;
    font-family: Manrope,sans-serif;
    color: white;
}

main {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.book-button a{
    /*background: rgb(61,212,128);*/
    background: #abc6d8;
    padding: 12px 40px;
    border-radius: 25px;
    color: #062229;
    box-sizing: border-box;
}

div {
    display: block;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}

img {
    height: auto;
    width: 100%;
}

div {
    display: block;
    box-sizing: border-box;
}

/* Header */
header {
    font-size: 18px;
    height: 83px;
    padding: 0 24px;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin-left: 64px;
}

li {
    display: inline-block;
    padding: 29px 20px;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    display: block;
    width: 127px;
}

.phone-side-bar {
    background: transparent;
    border: 0;
    display: none;
    height: 40px;
    width: 52px;
    margin: -10px 0 0 22px;
}

.phone-side-bar button {
    height: auto;
    width: 100%;
    background: transparent;
    border: none;
}

.flex-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-header .login img{
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
}

.right-header .book-button {
    margin: 0 0 0 32px;
}

@media screen and (max-width: 1200px) {
    .left-header ul {
        display: none;
    }

    .main-header {
        padding: 16px 0;
    }

    .phone-side-bar {
        display: block;
    }

}

@media only screen and (max-width: 768px) {
    .login ,.book-button {
        display: none;
    }
}


/* Hero section */

#hero-section {
    background-color: #062229;
    max-width: 1320px;
    margin: 0 auto;
    padding:  93px 24px 128px;
}

#hero-section h1 {
    font-size: 112px;
    letter-spacing: -.025em;
    font-weight: 600;
    line-height: 1.0714285714;
    max-width: 1054px;
}

#hero-section p {
    color: white;
    margin-top: 56px;
    font-size: 20px;
    max-width: 520px;
    letter-spacing: normal;
    line-height: 1.5;
}

#hero-section .book-button {
    font-size: 16px;
    margin: 48px 0 0;
    display: block;
}

#hero-images {
    margin-top: 24px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.hero-images-left {
    max-width: 408px;
    margin-right: 24px;
    padding-top: 120px;
}

.hero-images-center {
    padding-top: 144px;
}

.hero-images-right {
    margin-left: 24px;
    padding-top: 24px;
}

.top-images {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.bot-images {
    margin-top: 24px;
    width: 100%;
}

.image-container {
    width: calc(50% - 12px);
}


/* PARTNER SECTION */

#partner-section {
    padding: 128px 0;
}

#partner-section h2 {
    font-size: 12px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: center;
    color: hsla(0,0%,100%,.7);
}

#partner-section .flex-container {
    margin: 64px auto 0;
    max-width: 936px;
    height: 59px;
}

#partner-section .flex-container div {
    width: 136px;
    margin-right: 64px;
}

