/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Header */
header {
    background-color: grey;
    font-family: monospace;
    font-size: 18px;
    height: 82px;
    width: 100%;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    padding: 0 16px;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.phone-side-bar img {

    height: 40px;
    width: 100%;
}
