* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1320px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width:100%;
    height:100%;
    object-fit: fill;
}

.grey_box {
    background: grey;
    flex-grow: 1;
}

.image-eifell {
    flex-grow: 1;
    min-height: 0;
    max-height: 250px;
}

.text {
    flex-grow: 1;
}


/* Header */

.top-content {
    margin: 2% 1% 100px;
}

.header {
    flex-grow: 2;
    flex-flow: column wrap;
    align-items: stretch;
    padding: 0 3%;
}

.images {
    flex-flow: column wrap;
    align-items: stretch;
    flex-grow: 1;
    height: 500px;
    gap: 1%;
}

.first .text {
    padding-top: 5%;
}

.black-box {
    background: black;
    height: 200px;
}

/* Second header */

.middle-content {
    margin: 2% 1% 100px;
}

.side-bar {
    flex-grow: 1;
    padding: 3% 3% 0;
}

.second .black-box {
    margin-top: 5%;
}

.side-bar .black-box {
    display: none;
}

/* Main content */
.main-content {
    flex-flow: column wrap;
    margin: 2% 4% 0;
}

.main-content .image-eifell {
    height: 250px;
    width: 100%;
}


.one .text {
    margin: 0 0 2%;
}

.two {
    margin: 0 2% 5%;
}

.two .image-eifell {
    order: 2;
}

.two .text {
    margin-bottom: 5%;
}

@media only screen and (min-width: 500px) {

    /* top-content */

    .top-content {
        margin-left: 3%;
        margin-right: 3%;
    }

    .header {
        padding: 0;
    }

    .images {
        flex-flow: row nowrap;
        height: 100%;
        gap: 10%;
    }

    .image-eifell {
        max-width: 45%;
    }

    .first .text {
        padding-top: 0;
    }

    /* mid-content */
    .second {
        padding: 0 5%;
    }

    .side-bar .black-box {
        display: block;
        height: 100px;
        margin-bottom: 3%;
    }

    /* bot-content */
    .main-content {
        flex-flow: row nowrap;
        margin: 2% 4% 0;
        gap: 10%;
    }

    .main-content .text {
        max-width: 45%;
    }

    hr {
        display: none;
    }

}

@media only screen and (min-width: 1000px) {
    .header {
        flex-flow: row nowrap;
        gap: 5%;
        margin-bottom: 20px;
    }

    .second {
        padding: 0;
    }

    .first .text {
        max-width: 30%;
    }

    .middle-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .side-bar {
        padding: 0;
        max-width: 30%;
    }

    .bottom-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-flow: column wrap;
    }

    .one {
        align-self: flex-start;
        width: 75%;
    }

    .two {
        align-self: flex-end;
        width: 50%;
    }

} 
