* {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.top {
    background: white;
    margin: 40px 0;
    padding: 0 2%;
}

.top .header {
    gap: 5%;
    height: 200px;
}

.bot {
    background: lightgreen;
    padding: 20px 2%;
}

.box {
    background: blue;
    flex-grow: 1;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    margin: 0 auto;
    max-width: 1320px;
    align-items: stretch;
}

.hero {
    height: 500px;
}

.column {
    background: blue;
    flex-grow: 1;
}

.right {
    flex-flow: column wrap;
    align-items: stretch;
    flex-grow: 3;
    gap: 10%;
}

.left {
    flex-grow: 1;
    flex-shrink: 3;
    gap: 20%;
    align-items: stretch;
}

.box-right {
    background: blue;
    flex-grow: 1;
}

.right-bot {
    gap: 5%;
    align-items: stretch;
    flex-grow: 1;
}

.small-box {
    background: blue;
    flex-grow: 1;
}